$white-color: #FFF;
$light-white: #F1F1F1;
$black-color: #000;
$grey-color: #DDD;
$dark-grey-color: #545250;
$light-grey-color: #979797;
$light-grey-2: #E5E5E5;
$dark-grey-2: #777777;
$blue-color: #2CA1E9;

